* {
    padding: 0;
    margin: 0;
    font-family: sans-serif, Verdana, Tahoma;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(156, 7, 214);
}

.header .header-inner {
    width: 65%;
    height: inherit;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.header .header-inner .header-title {
    font-size: 20px;
    font-weight: 700;
    color: #444444;
}

.header .header-inner li {
    list-style-type: none;
}

.header .header-inner .logo {
    width: 30%;
    list-style-type: none;
}

.header .header-inner .action {
    width: 70%;
    list-style-type: none;
}

.header .header-inner .action-buttons {
    text-align: center;
}

.header .header-inner .action-buttons button {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 3px;
    background-color: #cbcef0;
    color: #444444;
    transition: 300ms ease-in-out;
}

.header .header-inner .action-buttons button:hover {
    color: #cbcef0;
    background-color: #444444;
}

.f_action_focus {
    color: #cbcef0 !important;
    background-color: #066007 !important;
}

.main {
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}

.main .main-inner {
    width: 65%;
    margin: 0 auto;
}

.main .main-inner .default-container {
    text-align: center;
    position: relative;
}

.main .main-inner .default-container .title {
    font-size: 30px;
    width: 100%;
}

.main .main-inner .default-container .title .title-inner {
    position: absolute;
    top: 111px;
    left: 296px;
    transform: rotate(5deg);
    background-color: #cfffc8;
    width: 486px;
    padding: 10px 0;
    border-radius: 10px;
}

.main .main-inner .default-container .cover-container {
    height: auto;
    margin: 40px auto 0 auto;
    display: flex;
}

.main .main-inner .default-container .cover-container .cover-image img {
    width: 80%;
}

.main .main-inner .content-name {
    font-size: 30px;
    padding: 30px 0;
}

.main .main-inner .multiple-area {
    display: flex;
}

.main .main-inner .multiple-area .panel-left {
    width: 30%;
}

.main .main-inner .multiple-area .panel-right {
    width: 70%;
}

.main .main-inner .multiple-area .panel-left .asks-list button {
    display: block;
    margin: 10px 0;
    font-size: 24px;
    border: navajowhite;
    background-color: transparent;
    cursor: pointer;
    color: #444444;
}

.f_ask_focus {
    font-weight: 600 !important;
}

.main .main-inner .multiple-area .panel-left .asks-list button:hover {
    color: #aa50d5;
}

.main .main-inner .multiple-area .panel-right .question-list button {
    margin-bottom: 4px;
    display: inline-block;
    font-size: 22px;
    border: navajowhite;
    background-color: #e8d2e5;
    cursor: pointer;
    padding: 12px 0;
    width: 58px;
    margin-right: 4px;
    color: #444444;
    transition: 300ms ease-in-out;
}

.main .main-inner .multiple-area .panel-right .question-list button:hover {
    color: #e8d2e5;
    background-color: #444444;
}

.image {
    text-align: center;
}

.correct {
    margin-top: 40px;
}

.incorrect {
    margin-top: -30px;
}

.incorrect img {
    width: 450px;
}

.correct img {
    width: 400px;
}

.answer {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.answer .correct-answer {
    font-size: 30px;
    color: #561b1b;
}

.hidden {
    display: none !important;
}